<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>Test</title>
    <link href="/styles/resets.scss">
    <link href="/styles/base.scss">
    <link href="/styles/header.scss">
    <link href="/styles/form.scss">
    <link href="/styles/footer.scss">
</head>

<body>

    <header>
        <div class="logo">
            <img id='img__logo' src="/src/client/img/nlp.jpg" alt="">
        </div>
        <!-- <div class="">
            navigation
        </div> -->
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Name">
                <input type="submit" name="" value="submit" onsubmit="return handleSubmit(event)"
                    onclick="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <div id="to">Form Results For:</strong>
                        <div id="results">
                            <div id="text"></div>
                            <div id="polarity"></div>
                            <div id="subjectivity"></div>
                        </div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
    else {
        console.log("Service Working not supported");
    }
</script>

</html>